.long-button[data-v-779a746c]{width:100%}.container[data-v-779a746c]{max-width:600px;margin-left:auto;margin-right:auto;margin-top:200px}h1[data-v-779a746c]{font-size:3rem;text-align:center;margin-bottom:70px}
